<!DOCTYPE html>
<html>
  <head>
    <title>Contrapost</title>
    <meta name="theme-color" content="#000000">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <a href="<%= Random.rand(1...4) %>">
      <div class="centered_down">
        <p id="back_link"><<&CONTRAPOST_ME?</p>
      </div>
    </a>
  </body>
</html>
